*.DS_Store
*.xcuserstate
*.xcbkptlist
/Pods/*
/Podfile.lock
/Pods/Manifest.lock
/Pods/Pods.xcodeproj/project.pbxproj
/Pods/Target Support Files/Pods-VampProject/Pods-VampProject-resources.sh
/VampProject.xcodeproj/project.pbxproj
